/*Reference for this assessment goes to "Traversy Media" channel
youtube, video titled "Rock Paper Scissors Game - UI & Javascript,
posted on June, 20, 2019, at https://www.youtube.com/watch?v=WR_pWXJZiRY" */
:root {
    --modal-duration: 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-info {
    background: #fff;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-info h1 {
    margin-bottom: 1rem;
}

.modal-info p {
    font-size: 1.2rem;
    margin-top: 2rem;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    
    to {
        opacity 1;
    }
}