/*Reference for this assessment goes to "Traversy Media" channel
youtube, video titled "Rock Paper Scissors Game - UI & Javascript,
posted on June, 20, 2019, at https://www.youtube.com/watch?v=WR_pWXJZiRY" */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --primary-color: blue;
    --dark-color: rgb(68, 68, 67);
    --light-color: #8b89eb;
    --lose-color: #dc3545;
    --win-color: #28a745;
    
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  background: whitesmoke;
  color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-button {
    display: none;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
}

.restart-button:hover {
    background: var(--primary-color);
    color: #fff;
}

.header {
    text-align: center;
    margin: 1rem 0;
}

.header h1 {
    margin-bottom: 1rem;
}

.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
}

.score p:first-child {
    background: var(--primary-color);
}

.score p:last-child {
    background: var(--dark-color);
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    
    
}

.choice {
    cursor: pointer;
}

.choice:hover {
    background-color: var(--primary-color);
}

.text-win {
    color: var(--win-color);
}

.text-lose {
    color: var(--lose-color);
}